select {
  margin-bottom: 60px;
  padding: 6px;
  display: flex;
  height: auto;
  max-width: 800px;
}

a {
  display: none !important;
}

span {
  display: none !important;
}

p {
  font-size: 20px;
}

.procedure {
  font-size: 20px;
  line-height: 1.5;
}

.result {
  display:none;
}

.result.active {
  display: flex;
  flex-wrap: wrap;
  color: #003366;
  background-color: #F9EBEA;
  max-width: 860px;
  height: auto;
  overflow-y: scroll;
  text-align: center;
}

h1{
  display: flex;
  flex-wrap: wrap;
}
